<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Send a email to your friend</title>
    {% load  static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="icon" href="{% static 'images/favicon.png' %}">
</head>
<body>
<div class="container">
    <div class="col-5 offset-4">
        <form action="." method="post" style="margin-top: 40%">
            {% csrf_token %}
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email" autofocus required autocomplete="off">
            </div>
            <div class="form-group">
                <label for="subject">Subject</label>
                <input type="text" class="form-control" id="subject" name="subject" required autocomplete="off">
            </div>
            <div class="form-group">
                <label for="content">Content</label>
                <textarea type="text" class="form-control" id="content" name="content" required></textarea>
            </div>
            <button type="submit" class="btn btn-outline-primary text-center">Send</button>
            {% if message %}
                    <div class="mt-2 alert text-center  alert-{{ message.tags }}  col-12"> {{ message.data }}</div>
            {% endif %}
        </form>
    </div>

</div>
</body>
</html>