<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Send a email to your friend</title>
    {% load  static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="icon" href="{% static 'images/favicon.png' %}">
</head>
<body>
<div class="container">
    <div class="col-5 offset-4">
        <form action="." method="post" style="margin-top: 40%" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email" autofocus required autocomplete="off">
            </div>
            <div class="form-group">
                <label for="subject">Subject</label>
                <input type="text" class="form-control" id="subject" name="subject" required autocomplete="off">
            </div>
            <div class="form-group">
                <label for="content">Content</label>
                <textarea type="text" class="form-control" id="content" name="content" required></textarea>
            </div>
            <div class="form-group form-inline">
                <label for="attach" class="mr-1"> 选择附件 </label>
                <input id="attach" class="form-check" type="checkbox">
                <input type="file" hidden id="file" name="file">
            </div>
            <button type="submit" class="btn btn-outline-primary text-center">Send</button>
            {% if message %}
                <div class="mt-2 alert text-center  alert-{{ message.tags }}  col-12"> {{ message.data }}</div>
            {% endif %}
        </form>
    </div>

</div>
</body>
<script>
    document.getElementById("attach").onclick = function () {
        let file = document.getElementById("file");
        if (document.getElementById("attach").checked) {
            file.hidden = false;
            file.required = true;
        } else {
            file.hidden = true;
            file.required = false;
        }
    };

</script>
</html>