{% load static %}
<nav class="navbar navbar-expand-sm navbar-light bg-light sticky-top">
    <a class="navbar-brand mr-0 mr-md-0" href="#">
        <img class="rounded-circle " src="{% static "images/favicon.png" %}" style="width: 34px" alt="">
    </a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item col-2">
                <a class="nav-link" href="#">home</a>
            </li>
            <li class="nav-item col-2">
                <a class="nav-link" href="#">python</a>
            </li>
            <li class="nav-item col-2">
                <a class="nav-link" href="#">C/C++</a>
            </li>
            <li class="nav-item col-2">
                <a class="nav-link" href="#">Linux</a>
            </li>
            <li class="nav-item col-4">
                <a class="nav-link" href="#">Cyber Security</a>
            </li>

        </ul>
        {#        <form class="form-inline my-2 my-lg-0">#}
        {#            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">#}
        {#            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>#}
        {#        </form>#}
   {% block form_inline %}
        {% endblock %}
    </div>
</nav>