{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block head%}
        <title>Sign up</title>
        <script src="{% static 'js/signup.js' %}"></script>
    {% endblock %}
</head>
<body>
{% block form_inline %}
{% endblock %}
{% block body %}
    <div class="col-5 offset-3">
        <form action="." method="post" style="margin-top: 40%">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control form-inline" autocomplete="off" id="username" oninput="check(this)" name="username"
                       autofocus required>
                <div class="text-danger form-inline" id="1" hidden>
                    <svg class="bi bi-x-circle" width="1em" height="1em" viewBox="0 0 20 20" fill="currentColor"
                         xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M10 17a7 7 0 100-14 7 7 0 000 14zm0 1a8 8 0 100-16 8 8 0 000 16z"
                              clip-rule="evenodd"></path>
                        <path fill-rule="evenodd" d="M12.646 13.354l-6-6 .708-.708 6 6-.708.708z"
                              clip-rule="evenodd"></path>
                        <path fill-rule="evenodd" d="M7.354 13.354l6-6-.708-.708-6 6 .708.708z"
                              clip-rule="evenodd"></path>
                    </svg>
                    请输入长度大于6的用户名
                </div>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" autocomplete="off" oninput="check(this)" name="password" required>
                <div class="text-danger form-inline" id="2" hidden>
                    <svg class="bi bi-x-circle" width="1em" height="1em" viewBox="0 0 20 20" fill="currentColor"
                         xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M10 17a7 7 0 100-14 7 7 0 000 14zm0 1a8 8 0 100-16 8 8 0 000 16z"
                              clip-rule="evenodd"></path>
                        <path fill-rule="evenodd" d="M12.646 13.354l-6-6 .708-.708 6 6-.708.708z"
                              clip-rule="evenodd"></path>
                        <path fill-rule="evenodd" d="M7.354 13.354l6-6-.708-.708-6 6 .708.708z"
                              clip-rule="evenodd"></path>
                    </svg>
                    密码长度需要大于6
                </div>
            </div>

            <div class="form-group">
                <label for="confirm">Confirm</label>
                <input type="password" class="form-control" id="confirm" autocomplete="off" oninput="check(this)" name="confirm" required>
                <div class="text-danger form-inline" id="3" hidden>
                    <svg class="bi bi-x-circle" width="1em" height="1em" viewBox="0 0 20 20" fill="currentColor"
                         xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M10 17a7 7 0 100-14 7 7 0 000 14zm0 1a8 8 0 100-16 8 8 0 000 16z"
                              clip-rule="evenodd"></path>
                        <path fill-rule="evenodd" d="M12.646 13.354l-6-6 .708-.708 6 6-.708.708z"
                              clip-rule="evenodd"></path>
                        <path fill-rule="evenodd" d="M7.354 13.354l6-6-.708-.708-6 6 .708.708z"
                              clip-rule="evenodd"></path>
                    </svg>
                    两次输入的密码不正确
                </div>
            </div>
            <div class="form-group">
                <label for="verify">Verification code</label>
                <div class="form-inline">
                    <input type="text" class="form-control col-8 " autocomplete="off" oninput="check()" id="verify" name="verify" required>
                    <button type="submit"  class="btn btn-outline-primary text-center col-3 ml-4">Send</button>
                </div>
            </div>
            <button type="submit" id="btn" class="btn btn-outline-primary text-center" disabled="disabled">Sign up</button>
            {% if messages %}
                {% for message in messages %}
                    <div class="mt-2 alert text-center  alert-{{ message.tags }}  col-12"> {{ message }}</div>
                {% endfor %}
            {% endif %}
        </form>
    </div>


{% endblock %}


</body>

</html>