<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SJTU timetable</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
</head>
<body class="container col-4">
<table class="table table-hover table-striped">
    <tr>
        <th>
            上课节数
        </th>
        <th>
            上课时间
        </th>
    </tr>

    <tr>
        <td>第 一 节</td>
        <td>8:00-8:45</td>
    </tr>
    <td>第 二 节</td>
    <td>
        8:55-9:40
    </td>


    <tr>
        <td>第 三 节</td>
        <td>
            10:00-10:45
        </td>

    </tr>


    <tr>
        <td>第 四 节</td>
        <td>10:55-11:40</td>
    </tr>


    <tr>
        <td>第 五 节</td>
        <td>12:00-12:45</td>
    </tr>


    <tr>
        <td>第 六 节</td>
        <td>12:55-13:40</td>
    </tr>
    <tr>
        <td>第 七 节</td>
        <td>14:00-14:45</td>
    </tr>

    <tr>
        <td>第 八 节</td>
        <td>14:55-15:40</td>
    </tr>

    <tr>
        <td>
            第 九 节
        </td>
        <td>
            16:00-16:45
        </td>
    </tr>
    <tr>
        <td>第 十 节</td>
        <td>
            16:55-17:40
        </td>
    </tr>


    <tr>
        <td>第十一节</td>
        <td>18:00-18:45</td>
    </tr>

    <tr>
        <td>第十二节</td>
        <td>18:55-19:40</td>
    </tr>
    <tr>
        <td>第十一、十二、十三节
            晚上3节连上</td>
        <td>18:00-20:20</td>
    </tr>


</table>
</body>
</html>